<div id="mainContainer">
  <div id="topContainer">
    <div id="topContent">
      <div id="joinLeft" class="getStarted">
        <span class="joinSpanText">200 new employees</span>
        <span class="joinSpanText">joining in 3 months?</span>
        <span class="joinSpanText">Why not.</span>
        <span class="joinSpanText">Get a custom office built to suit within 60 days</span>
        <button type="button" class="btn btn-primary">Learn How</button>
      </div>

      <div id="joinRight" class="getStarted">
        <div class="card joinCard">
          <div class="card-body">
            <h5 class="card-title">Get Started</h5>
            <div class="getStartedFieldContainer">
              <mat-form-field>
                <input matInput placeholder="Full Name*">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Company Name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Email ID*">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Contact No.*">
              </mat-form-field>
              <mat-form-field>
                  <mat-select placeholder="Select Enquiry Typeect">
                    <mat-option value="option">Option1</mat-option>
                    <mat-option value="option">Option1</mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
            <p style="margin-top:10px">Or call us on <b>+91 939 000 0060</b> for more details</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- MIDDLE CONTAINER -->
  <div class="container" style="margin-top: -150px;">
    <div class="row" id="topCardContainer">
      <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
        <div class="card h-100">
          <img class="card-img-top" src="../assets/Images/sabLabOffice.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Corporate Headquarters</h5>
            <p class="card-text">Looking for a headquarters that is entirely your own? Set up your own branded and
              staffed private location.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
        <div class="card h-100">
          <img class="card-img-top" src="../assets/Images/office.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Satellite Offices/Labs</h5>
            <p class="card-text">Looking for a private offices suite/technology labs that feels bespoke but scales
              efficiently? Configure your own branded layout from a menu of data-driven design.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
        <div class="card h-100">
          <img class="card-img-top" src="../assets/Images/satLab.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Refurbishing Old Offices</h5>
            <p class="card-text">Looking for a headquarters that is entirely your own? Set up your own branded and
              staffed private location.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Learn More</button>
          </div>
        </div>

      </div>
    </div>
    <div class="row mb-1" style="text-align: center;">
      <h2 style="text-align: center;width: -webkit-fill-available;">We're changing the way workspaces are managed</h2>
      <span style="width: 50%;left: 50%;margin-left: 25%;">We are managed workspace operator that's transforming the
        commercial real estate market in india by offering
        the most productive and flexible working enviornemnts offered as a service also known as
        Workspace-as-a-Service.</span>
    </div>
    <div class="row mb-4" id="bottomCardContainer">
      <div class="col-sm-6 col-md-4 col-lg-4 mt-5">
        <div class="card" style="width: 86%;">
          <div class="card-body">
            <img class="card-img-top" src="../assets/Images/hotel.png" alt="Card image cap">
            <h3 class="card-title">Lease</h3>
            <p class="card-text">We help you find the offices of your choice based on your specific needs. You just
              j=have to state your requirements and we'll do the rest.</p>
            <span class="spanLink">Search Location</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 mt-5">
        <div class="card" style="width: 86%;">
          <img class="card-img-top" src="../assets/Images/transfer.png" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Transform</h3>
            <p class="card-text">We help you find the offices ofyour choice based on your specific needs. You just
              j=have to state your requirements and we'll do the rest.</p>
            <span class="spanLink">Design and Build</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 mt-5">
        <div class="card" style="width: 86%;">
          <img class="card-img-top" src="../assets/Images/cogwheels.png" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Operate</h3>
            <p class="card-text">We help you find the offices ofyour choice based on your specific needs. You just
              j=have to state your requirements and we'll do the rest.</p>
            <span class="spanLink">Let's Collaborate</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BOTTOM CONTAINER -->
  <div id="bottomContainer">

    <!-- Tabs -->
    <section id="tabs">
      <div class="container" style="text-align: center">
        <h3>Smart Offices you'll want to have</h3>
        <span>
          We create built-to-suit and customized workspaces with top-of-the-line security, an enterprise-grade
          infrastructure, and personalized round-the-clock support to achieve the highest productivity.
        </span>
        <div class="row" style="margin-top: 5%;">
          <div class="col-xs-12" style="width: 100%">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-technology-tab" data-toggle="tab" href="#nav-technology"
                  role="tab" aria-controls="nav-technology" aria-selected="true">Technology</a>
                <a class="nav-item nav-link" id="nav-security-tab" data-toggle="tab" href="#nav-security" role="tab"
                  aria-controls="nav-security" aria-selected="false">Security and Compliance</a>
                <a class="nav-item nav-link" id="nav-employee-tab" data-toggle="tab" href="#nav-employee" role="tab"
                  aria-controls="nav-employee" aria-selected="false">Employee Services</a>
              </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-technology" role="tabpanel"
                aria-labelledby="nav-technology-tab">
                <!-- CARDS -->
                <div class="row" id="footerCardContainer">
                  <div class="col-sm-6 col-md-4 col-lg-4 mt-5">
                    <div class="card">
                      <i class="fa fa-server" aria-hidden="true"></i>
                      <div class="card-body">
                        <p class="card-text">Dedicated server room and network infrastructure</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mt-5">
                    <div class="card">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                      <div class="card-body">
                        <p class="card-text">Desk and meeting room utilization analytics</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mt-5">
                    <div class="card">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <div class="card-body">
                        <p class="card-text">Occupacy-based intelligent facilities management</p>
                      </div>
                    </div>

                  </div>
                  <div  class="col-sm-6 col-md-4 col-lg-4 mt-5">
                    <div class="card">
                        <i class="fa fa-product-hunt" aria-hidden="true"></i>
                        <div class="card-body">
                        <p class="card-text">Optimal CO2 levels for highest productivity</p>
                      </div>
                    </div>

                  </div>
                  <div class="col-sm-6 col-md-4 col-lg-4 mt-5">
                    <div class="card">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <div class="card-body">
                        <p class="card-text">Private Climate Control</p>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- ./CARDS -->
              </div>
              <div class="tab-pane fade" id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab">
                SAMPLE-FOR-SECURITY
              </div>
              <div class="tab-pane fade" id="nav-employee" role="tabpanel" aria-labelledby="nav-employee-tab">
                SAMPLE-FOR-EMPLOYEE
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!-- ./Tabs -->
    <div id="knowButton">
        <button type="button" class="btn btn-primary">Know more</button>
      </div>
    <div id="footerDiv" class="alignCenter">
      <div class="inlineBlock">
        <h3>Address</h3>
        <span id="addressText">Lorem ipsum dolar sit amet, adipiscing elit sed. Banglore</span>
      </div>
      <div class="inlineBlock">
        <h3>Useful Links</h3>
        <table>
          <tr>
            <td>About Us</td>
            <td>Contact Us</td>
          </tr>
          <tr>
            <td>Technology</td>
            <td>Private Policy</td>
          </tr>
          <tr>
            <td>Case Study</td>
            <td>Term and Conditions</td>
          </tr>
          <tr>
            <td>Locations</td>
            <td>Legal</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>
